
.heading{
padding: 60px 30px;
display: flex;
justify-content: center;
}
.heading h1{
font-size: 60px;
font-family: titan;
/* color: #ff4500; */
}


.listings{
    font-family: nunito;
    padding: 10px 30px;
    display: grid;
    grid-template-columns:repeat(auto-fit,330px);
    gap: 50px;
    /* background-color: aqua; */
    justify-content: space-evenly;
}
.list{
    border: .5px solid grey;
    border-radius: 10px;
    padding: 5px;
}

.list .top{
    display: flex;
    justify-content: center;

}
.sliders{
    display: flex;
    justify-content: center;
}
.list img{
    border-radius: 10px;
    height: 230px;
    width: 310px;
    object-fit: cover;
    margin: auto;
}

.list .top img{
    border-radius: 10px;
    height: 230px;
    width: 310px;
    object-fit: cover;
}
.bottom{
   padding: 20px 10px 0px 10px;
}
.bottom .badge{
    padding: 8px 5px;
}
.bottom .badge h4{
    text-transform: uppercase;
    font-size: .6em;
    border: .5px solid black;
    padding: 3px 5px;
    display: inline;
    border-radius: 30px;
}
.header{
    padding: 10px;
    box-sizing: border-box;
}
.header h5{
    display: inline-block;
    font-size: 1em;
    font-weight: 900;
}
.bottom .desc{
    padding: 0px 0px 0px 10px;
    font-size: 15px;
}
.info{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.info .cost h5{
    padding-left: 10px;
    text-decoration: line-through;
}
.cost{
    display: flex;
    justify-content: end;
}
.bottom .btns{
    padding:10px;
    display: flex;
    justify-content: space-between;
}
.details{
    color: orangered;
    cursor: pointer;
}
.link{
    text-decoration: none;
    color: orangered;
    cursor: pointer;
}
.details:hover{
    transition: all ease 0.2s;
    scale: 1.1;
}
.bookbtn button{
    /* font-size: 15px;
    background-color: orangered;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 6px; */
    border: none;

}
.bookbtnlink{
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 6px;
    background-color: orangered;
    color: white;
}
.bookbtn button:hover{
    transition: all ease 0.2s;
    scale: 1.1;
}
