.main{
    background-color: orangered;
    padding: 30px 10px;
    display: flex;
    justify-content: space-evenly;
    font-family: nunito;
    color: white;
}

.div2{
    /* width: 50%; */
    display: flex;
    gap: 0px 150px;
    justify-content: space-evenly;
}
.first h1{
    font-size: 20px;
    text-align: center;
    color: white;
    
}
.first h5{
    color: black;
    text-align: center;
}
.first h1 span{
    font-size: 12px;
    vertical-align: top;
    color: white;
}
.second .head1 h1{
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.lists{
    display: flex;
    padding: 10px;
    gap: 15px;
    /* align-items: end; */
}
.lists img{
    height: 20px;
    width: 20px;
}
.third .head2 h1{
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.third .lists2 h4{
    font-size: 14px;
    font-weight: 400;
    color: black;
}

@media only screen and (max-width: 875px) {
    .main{
        flex-direction: column-reverse;
    }
    .div2{
        gap: 20px;
    }
    }